/**** FONT INFO

Aktiv Grotesk Light
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 300;
font-style: normal;

Aktiv Grotesk Regular
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 400;
font-style: normal;

Aktiv Grotesk Italic
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 400;
font-style: italic;

Aktiv Grotesk Medium
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 500;
font-style: normal;

Aktiv Grotesk Bold
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 700;
font-style: normal;

Aktiv Grotesk Bold Italic
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 700;
font-style: italic;

Aktiv Grotesk XBold
font-family: 'aktiv-grotesk', sans-serif;
font-weight: 800;
font-style: normal;



Neue Haas Unica W1G Bold
font-family: 'neue-haas-unica', sans-serif;
font-weight: 600;
font-style: normal;

Neue Haas Unica W1G Black
font-family: 'neue-haas-unica', sans-serif;
font-weight: 800;
font-style: normal;

Neue Haas Unica W1G Heavy
font-family: 'neue-haas-unica', sans-serif;
font-weight: 700;
font-style: normal;



Trirong Regular
font-family: 'Trirong', serif;
font-weight: 400;
font-style: normal;

Trirong Medium
font-family: 'Trirong', serif;
font-weight: 500;
font-style: normal;

END OF FONT INFO ****/



/**** COLORS ****

light tan/off white: #F1ECED;
almost black: #35353D;
white: #000000;
mian blue: #5C97D3;
orange: #FFAB3C;

**** END OF COLORS ****/



/* basic elements and text */
body{
	background-color:#F1ECED;
	background-image:url('../images/background1.png');
	margin-top:100px;
	font-family:'aktiv-grotesk', sans-serif;
	font-weight:400;
	font-style:normal;
}

/** you need to define your headings here, using the font choices supplied to you **/
h1{
	font-family:'Trirong', serif;
	font-weight:500;
	font-style:normal;
}

h2{
	font-family: 'neue-haas-unica', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size:28px;
}

h4{
	font-family: 'Trirong', serif;
}

p{
	font-family:'aktiv-grotesk', sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:16px;
}


/* navigation bar */
.bg-light {
    background-color:#FFFFFF !important;
}

.navbar-light .navbar-nav .nav-link {
    color:#5C97D3;
    font-size:1em;
    font-family:sans-serif;
    font-family: 'aktiv-grotesk', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#FFAB3C;
}

.navbar-light .navbar-toggler{ /* next 3 to change the hamburger icon */
  background:none;
  border:none;
}

.navbar-light .navbar-toggler:focus{
    outline: none !important;
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227,227,227, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.cart-icon{
	fill:#5C97D3;
}

.cart-icon:hover{
	fill:#FFAB3C;
}

/*map*/
.interactive-map{
	width:100%;
	height:400px;
}



/* buttons and links */

a{
	color:#5C97D3;
}

a:hover{
	color:#35353D;
}

.active{
	color:#FFAB3C;
}

.btn-primary{
	background-color:#5C97D3;
	border-color:#5C97D3;
	border-radius:20px;
	text-decoration:none;
}

.btn-primary:hover{
	background-color:#FFAB3C;
	border-color:#FFAB3C;
	color:#FFFFFF;
	text-decoration:none;
}

.btn-primary2{
	background-color:#5C97D3;
	border-color:#5C97D3;
	border-radius:20px;
	color:#FFFFFF;
}

.btn-secondary{
	background-color:#35353D;
	border-color:#35353D;
	border-radius:20px;
}

.btn-secondary:hover{
	background-color:#5C97D3;
	border-color:#5C97D3;
	border-radius:20px;
	color:#F1ECED;
}

.btn-outline-primary{
	border-color:#35353D;
	border-radius:20px;
	color:#35353D;
}

.btn-outline-primary:hover, .btn-primary2:hover{
	border-color:#35353D;
	background-color:#35353D;
	color:#F1ECED;
}



/* lines/borders

use these CSS properties for a solid border (see Adobe XD design system)

border: 1px solid #35353D;

use this for a dashed border:

border: 1px dashed #35353D; */


/* for the lines */

/*.dashed{
	border:none;
  	border-top:1px dashed #35353D;
  	opacity:1;
  	color:rgba(0, 0, 0, 0);
}

.solid{
  color: #35353D;
  background-color: #35353D;
  opacity: 1;	
}*/




/* footer */

.footer{
	background-color:#FFFFFF;
	color:#5C97D3;
	font-size:.9em;
	font-family:'aktiv-grotesk', sans-serif;
	font-weight:400;
	font-style:normal;
}

.subfooter{
	background-color:#FFFFFF;
	color:#000000;
	font-size:.8em;
	font-family:'aktiv-grotesk', sans-serif;
	font-weight:400;
	font-style:normal;
}

.social-icon {
    width:40px;
    fill: #5C97D3;
}

.social-icon:hover {
    fill: #FFAB3C;
}

.footer-links{
	color:#5C97D3;
	line-height: 2em;
	text-decoration:none;
}

.footer-links2{
	color:#5C97D3;
}

.footer-links:hover, .footer-links2:hover{
	color:#FFAB3C;
	text-decoration:none;
}

.footer-head{
	margin-bottom: -1em;
}


/* your CSS here */
.hero{
	background-image:url('../images/hero.png');
	background-size:cover;
	background-position:0px,-20px;
}

.about{
	font-style:italic;
	font-size:24px;
	font-weight:400;
}

.subscribe{
	background-color:#F1ECED;
}

.invovled{
	color:#35353D;
	text-decoration:none;
	line-height:2em;
	font-weight:500;
	font-style:normal;
	font-size:18px;
}

.invovled:hover{
	color:#FFAB3C;
	text-decoration:none;
}

.posters{
	background-image:url('../images/background2.png');
}

.note{
	color:#5C97D3;
	font-family:'Trirong', serif;
	font-weight:400;
	font-style:normal;
	font-size:14px;
}

.price{
	font-size:14px;
	font-family: 'aktiv-grotesk', sans-serif;
	font-weight: 300;
	font-style: normal;
}
